.row {
    display: flex;
    justify-content: space-between;
}
.col {
    display: flex;
    flex-direction: column;
}
.align-center {
    justify-content: center;
}
.text-center {
    text-align: center;
}
.no-padding {
    padding:0;
}
.set-container {
    display: flex;
    flex-wrap: wrap;
    gap:8px;
    justify-content: center;
}
.set {
/*     border: solid 1px rgba(128,128,128,.5);
    padding: 16px;
    border-radius: 8px; */
    display: flex;
    height: 88px;
/*     flex-direction: column;
    gap:8px;
    justify-content: center;
    align-items: center; */
}

.mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.superset-indicator {
    position: absolute;
    bottom: -23px;
    rotate: 90deg;
    z-index: 1;
    left: 4px;
}