<mat-card [class.mat-elevation-z0]="true" class="row">

    <mat-card-header class="col align-center">
        {{exercise.kolejnoscWysw}}{{exercise.litera}}
    </mat-card-header>
    <mat-card-content>
        <mat-card-title>{{exercise.nazwa_krotka}}</mat-card-title>
        <mat-card-subtitle>{{exercise.nazwa_krotka}}</mat-card-subtitle>
        <mat-card-subtitle>SETS DONE:</mat-card-subtitle>

        <div class="set-container">
            <div *ngFor="let x of exercise.zrobione; index as i" class="set">

                <button mat-raised-button color="primary" [class.mat-elevation-z0]="true" *ngIf="x===0" (click)="doneEventEmit(exercise.id,i,1)">

                    <mat-icon>check_box_outline_blank</mat-icon>
                    <br>
                    <span *ngIf="exercise.jedn_intens!=='BW'">
                        {{exercise.powt[i]}}x{{exercise.ciezar[i]}}{{exercise.jedn_intens}}
                    </span>
                    <span *ngIf="exercise.jedn_intens==='BW'">
                        {{exercise.powt[i]}}x{{exercise.jedn_intens}}
                    </span>

                </button>

                <button mat-stroked-button *ngIf="x===1" (click)="doneEventEmit(exercise.id,i,0)">

                    <mat-icon>check_box</mat-icon>
                    <br>
                    <span *ngIf="exercise.jedn_intens!=='BW'">
                        {{exercise.powt[i]}}x{{exercise.ciezar[i]}}{{exercise.jedn_intens}}
                    </span>
                    <span *ngIf="exercise.jedn_intens==='BW'">
                        {{exercise.powt[i]}}x{{exercise.jedn_intens}}
                    </span>

                </button>
            </div>
        </div>

        <!--     <mat-checkbox appCheckboxValue trueValue="1" falseValue="0" [(ngModel)]="exercise.superset">
        superset: {{exercise.superset}} check_box_outline_blank
    </mat-checkbox>  -->
    </mat-card-content>

    <mat-card-actions [align]="'start'" class="col no-padding">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editEvent.emit(exercise)">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
            <button mat-menu-item (click)="moveDownEvent.emit(exercise)">
                <mat-icon>arrow_downward</mat-icon>
                <span>Move down</span>
            </button>
            <button *ngIf="exercise.superset===0" mat-menu-item (click)="supersetEvent.emit(exercise)">
                <mat-icon>link</mat-icon>
                <span>superset with below</span>
            </button>
            <button *ngIf="exercise.superset===1" mat-menu-item (click)="unsupersetEvent.emit(exercise)">
                <mat-icon>link_off</mat-icon>
                <span>un-superset with below</span>
            </button>
            <button mat-menu-item (click)="deleteEvent.emit(exercise)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
        </mat-menu>
        <button mat-icon-button aria-label="Example icon-button with a menu">
            <mat-icon>info</mat-icon>
        </button>
    </mat-card-actions>

</mat-card>