<mat-toolbar class="toolbar" [ngClass]="(isHandset$ | async) ? 'bottom-toolbar' : 'top-toolbar'" color="accent">


    <div *ngIf="!(isWebLandscape$ | async)">
  
      <button mat-icon-button aria-label="back to calendar" [routerLink]="[backLink]" matTooltip="back to calendar">
        <mat-icon>arrow_back</mat-icon>
      </button>
  
      <button mat-icon-button aria-label="toggle alarm" (click)="toggleAlarm()" [matTooltip]="'turn counting & alarm ' + (alarm ? 'off' : 'on')">
        <mat-icon *ngIf="alarm">alarm_on</mat-icon>
        <mat-icon *ngIf="!alarm">alarm_off</mat-icon>
      </button>
  
      <button mat-icon-button aria-label="add new exercise" (click)="actionEvent.emit('add')" matTooltip="add new exercise">
        <mat-icon>add</mat-icon>
      </button>
  
  
    </div>
  
    <div *ngIf="isWebLandscape$ | async">
  
      <button mat-button aria-label="back to calendar" [routerLink]="[backLink]">
        <mat-icon>arrow_back</mat-icon> back to calendar
      </button>
  
      <button mat-button aria-label="toggle alarm" (click)="toggleAlarm()">
        <mat-icon *ngIf="alarm">alarm_on</mat-icon>
        <mat-icon *ngIf="!alarm">alarm_off</mat-icon>
        turn counting & alarm {{(alarm ? 'off' : 'on')}}
      </button>
  
      <button mat-button aria-label="add new exercise" (click)="actionEvent.emit('add')">
        <mat-icon>add</mat-icon> add new exercise
      </button>
  
    </div>
  
  </mat-toolbar>