<app-training-toolbar (actionEvent)="actionFromChild($event)" (editEvent)="editFromChild($event)"></app-training-toolbar>

<mat-toolbar class="component-toolbar">My Training</mat-toolbar>

<main>
    <div *ngIf="training$ | async as t" class="main-list">

        <mat-card [class.mat-elevation-z0]="true">
            <div>{{t.nazwa}}</div>
        </mat-card>
        <!--     <div>{{t.nazwa}} {{t | json}}</div>
    <div *ngFor="let s of t.sesje">{{s.title}} {{s.date}}</div>

    <button (click)="changeMonth('next')">next</button>
    <button (click)="changeMonth('prev')">prev</button> -->
        <mat-card [class.mat-elevation-z0]="true">
            <app-training-calendar
             [edit]="edit"
             [daysSessioned]="t.sesje!" 
             (changeMonthEvent)="changeMonthFromChild($event)"
             (daysSelectedEvent)="daysSelectedFromChild($event)"
             [daysSelected]="daysSelected"
             >
            </app-training-calendar>
        </mat-card>

    </div>
</main>