<app-training-toolbar (actionEvent)="actionFromChildToolbar($event)" (editEvent)="editFromChildToolbar($event)" [backLink]="'../'"></app-training-toolbar>

<main>
<mat-toolbar class="component-toolbar">My Training</mat-toolbar>

    <div class="main-content">
        <div class="main-list" *ngIf="training$ | async as t">

            <div class="header">
                <h1>{{t.nazwa}}</h1>
            </div>

            <mat-card [class.mat-elevation-z0]="true" class="calendar-card">
                <app-training-calendar
                [edit]="edit"
                [daysSessioned]="t.sesje!" 
                [daysSelected]="daysSelected"
                [trainingId]="t.id"
                (changeMonthEvent)="changeMonthFromChildCalendar($event)"
                (daysSelectedEvent)="daysSelectedFromChildCalendar($event)"
                (addNewEvent)="addNewSessionFromChildCalendar($event)"
                >
                </app-training-calendar>
            </mat-card>

        </div>
    </div>
</main>