<app-loading></app-loading>

<app-user-tray></app-user-tray>

<mat-sidenav-container class="sidenav-container czerwony">
  <mat-sidenav #drawer class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [position]="(isHandset$ | async) ? 'end' : 'start'"
    [opened]="(loggedBool$ | async) && !(isHandset$ | async)">

    <app-navigation (out)="drawer.toggle()"></app-navigation>

  </mat-sidenav><!--[@routeAnimations]="getRouteAnimationData()"-->
  <mat-sidenav-content class="main-background" [ngClass]="(isHandset$ | async) ? 'content-bottom-padding' : 'content-top-margin'" [@routeAnimations]="o.isActivated ? o.activatedRoute : ''">

    <router-outlet #o="outlet"></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

<button id="nav-tgl-btn" type="button" aria-label="Toggle sidenav" mat-fab color="accent" (click)="drawer.toggle()"
  *ngIf="(isHandset$ | async) && (loggedBool$ | async)">
  <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
</button>