.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 220px;
  background: inherit;
  border: none;
}

#nav-tgl-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  border-radius: initial;
  border-top-left-radius: 50%;
  box-shadow: none;
}

.content-top-margin {
  margin-top: 0;/*64px;*/
}
.content-bottom-padding {
  padding-bottom: 56px;
}
.theme-dark.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.5);
}