.mat-calendar-body-cell.selected {
    background-color: #e040fb !important;
    border-radius: 50%;
  }
  
  .mat-calendar-body-cell.sessioned {
    background-color: #00bcd4 !important;
    border-radius: 50%;
  }
  .mat-calendar-body-cell-content {
   display: flex;
   flex-direction: column;
  }

  .calendar-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .calendar-container {
    max-width: 85vh;
    width: 100%;
  }
  .session-title {
    display: none;
  }

  @media screen and (min-width:900px) {
    .session-title {
      display: block;
    }
  }