.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-list {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}
.nav-list.handset {
  justify-content: end;
  flex-grow: 1;
  text-align: right;
}
.nav-list.not-handset {
  justify-content: start;
}

.nav-list-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  /* background-color: rgba(128,128,128,.1); */
  /* background-image: linear-gradient(#e040fb,#00bcd4); */
}
.nav-list-wrapper.handset{
  flex-direction: row-reverse;
  backdrop-filter: blur(5px);
}

.toolbar.handset {
  width: 56px;
  height: 100%;
  writing-mode: vertical-rl;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(180deg,#00bcd4,#e040fb);
}
.toolbar.not-handset {
  background-image: linear-gradient(90deg,#00bcd4,#e040fb);
}

.nav-list > a {
  display: flex;
  height: 56px;
  align-items: center;
  padding: 16px;
}
.nav-list > a:hover, .active-link {
  background-color: rgba(128,128,128,.1);
}
.nav-list.handset > a {
  justify-content: end;
  flex-direction: row-reverse;
}
.nav-list.not-handset > a {
  justify-content: start;
  flex-direction: row;
}
.nav-item-txt {
  margin: 0 8px;
}