<div class="nav-list-wrapper" [ngClass]="(isHandset$ | async) ? 'handset' : ''">
  <mat-toolbar class="toolbar" [ngClass]="(isHandset$ | async) ? 'handset' : 'not-handset'">PlanThisSh!t
  </mat-toolbar>
  <mat-nav-list class="nav-list" [ngClass]="(isHandset$ | async) ? 'handset' : 'not-handset'">

    <a [routerLink]="'login'" matRipple (click)="emitOutDrawerClose()">lodrz yn</a>
    <a [routerLink]="''" matRipple (click)="emitOutDrawerClose()">hołm</a>
    <a [routerLink]="''" matRipple (click)="emitOutDrawerClose()" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>face</mat-icon>
      <span class="nav-item-txt">My Account</span>
    </a>
    <a [routerLink]="'trainings'" matRipple (click)="emitOutDrawerClose()" routerLinkActive="active-link">
      <mat-icon>fitness_center</mat-icon>
      <span class="nav-item-txt">My Plans</span>
    </a>
    <a [routerLink]="''" matRipple (click)="emitOutDrawerClose()" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>supervisor_account</mat-icon>
      <span class="nav-item-txt">My Trainers</span>
    </a>
    <a *ngIf="(loggedUser$ | async)?.trainer" [routerLink]="''" matRipple (click)="emitOutDrawerClose()" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon>groups</mat-icon>
      <span class="nav-item-txt">My Clients</span>
    </a>

  </mat-nav-list>
</div>