<div class="nav-list-wrapper" [ngClass]="(isHandset$ | async) ? 'handset' : ''">
  <mat-toolbar color="primary" class="toolbar" [ngClass]="(isHandset$ | async) ? 'handset' : 'not-handset'">PlanThisSh!t
  </mat-toolbar>
  <mat-nav-list class="nav-list" [ngClass]="(isHandset$ | async) ? 'handset' : 'not-handset'">

    <a [routerLink]="'login'" (click)="emitOutDrawerClose()">lodrz yn</a>
    <a [routerLink]="''" (click)="emitOutDrawerClose()">hołm</a>
    <a [routerLink]="''" (click)="emitOutDrawerClose()">Moje Konto</a>
    <a [routerLink]="'trainings'" (click)="emitOutDrawerClose()" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Moje Plany</a>
    <a [routerLink]="''" (click)="emitOutDrawerClose()">Moi Trenerzy</a>
    <a *ngIf="(loggedUser$ | async)?.trainer" mat-list-item class="dupa" [routerLink]="''" (click)="emitOutDrawerClose()">Moi Klienci</a>

  </mat-nav-list>
</div>