<div class="header">
    <h2 mat-dialog-title>{{data.title}}</h2>
</div>

<div mat-dialog-content>
    <p>{{data.message}}</p>
</div>

<div mat-dialog-actions [align]="'end'">
    <button *ngIf="!data.alertOnly" mat-raised-button [class.mat-elevation-z0]="true" color="primary" [mat-dialog-close]="false">
        {{data.cancelCaption}}
    </button>
    <button mat-raised-button [class.mat-elevation-z0]="true" color="accent" [mat-dialog-close]="true">
        {{data.confirmCaption}}
    </button>
</div>